.profile-container {
  width: calc(100% - 16rem);
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  padding: 40px 50px;
  margin-left: 15rem;
  margin-top: 6rem;
}

.headContainer{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: calc(50% - 160px);
}

.profile-box h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  justify-self: center;
}

.profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.avatar-circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3px;
}

.inputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-row label {
  width: max-content;
  font-size: 1rem;
  font-weight: 500;
}

.form-row input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.view-details {
  text-align: left;
  margin-top: 10px;
  color: #3b82f6;
  cursor: pointer;
}

.edit-btn, .save-btn {
  background-color: #3b82f6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 15px;
  width: 100%;
}

.edit-btn:hover, .save-btn:hover {
  background-color: #2563eb;
}
