header{
    position: fixed;
    /*  */
    top: .5rem;
    left: .5rem;
    color: white;
    background-color: #1f2937;
    padding: 1rem 3rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    width: calc(100% - 1rem)
}

@media print{
    header{
        display: none;
    }
}