header{
    position: fixed;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    color: white;
    background-color: #1f2937;
    padding: 1rem 3rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 10;
}

@media (max-width: 768px) {
    header {
        padding: 0.75rem 1rem;
        border-radius: 0.75rem;
        flex-wrap: wrap;
    }
}

@media print{
    header{
        display: none;
    }
}