.signup-box {
  width: calc(100% - 1rem);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  background: #fff;
  padding: 1rem 2rem ;
    /* margin-left: 3rem; */
    margin-top: 6rem;
}

.signup-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: #111;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputContainer{
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.inputContainer input,
.inputContainer select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.role-group {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

.role-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.signup-btn {
  background-color: #3b82f6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 4rem;
}

.signup-btn:hover {
  background-color: #2563eb;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.login-link a {
  color: #3b82f6;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
