.dashboard {
  width: calc(100% - 16rem);
  margin-left: 15rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 6rem;
  border-radius: 20px;
  background: #fff;
}

h2 {
  font-size: 1.8rem;
  margin-bottom:2rem ;
  color: blue;
}

.dashboard-buttons {
  margin: 1rem 0;
  display: flex;
  gap: 10px;
}

.new-request,
.explore-btn {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.visit-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.visit-table th,
.visit-table td {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  text-align: left;
}
