.request-container {
  width: calc(100% - 16rem);
  background: #fff;
  padding: 2rem;
  margin-left: 15rem;
  margin-top: 6rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.request-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.request-box label {
  display: inline;
  font-weight: 500;
  margin-bottom: 5px;
}

.Input_Group{
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.request-box input,
.request-box select{
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 70%;
}

.request-box textarea {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.request-box textarea {
  resize: none;
  height: 100px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #f2f2f2;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.message {
  text-align: center;
  margin-top: 1rem;
  color: #333;
  font-weight: 500;
}
