.dashboard {
  width: calc(100% - 16rem);
  margin-left: 15rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 6rem;
  border-radius: 20px;
  background: #fff;
}

.studenth1 {
  font-size: 1.8rem;
  margin-bottom:3rem ;
  color: blue;
}

.dashboard-buttons {
  margin: 1rem 0;
  display: flex;
  gap: 10px;
}

.new-request,
.explore-btn {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.visit-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.visit-table th,
.visit-table td {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.pending{
  background-color: red;
}

.approved{
	background-color: blue;
}

.completed{
	background-color: green;
}

.status{
	padding: .3rem 1rem;
	color: wheat;
	border-radius: 0 2rem 0 0;
}

.seeMore{
  /* float: inline-end; */
  background-color: rgb(5, 12, 105);
  /* border: BLUE double .5rem; */
  padding: .2rem .5rem;
  font-style: italic;
  color: white;
  border-radius: 1rem ;
  margin-top: 1rem;
  display: block;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  margin: 1rem 0 0 auto;
}

.seeMore:hover{
  background-color: rgba(5, 12, 105, .7);
}

.seeMore:active{
  background-color: rgba(5, 12, 105);
  
}