.find-company {
  width: calc(100% - 16rem);
  background: #fff;
  padding: 2rem;
  margin-left: 15rem;
  margin-top: 6rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.find-company h2 {
  font-size: 24px;
  color: #222;
  margin-bottom: 5px;
}

.find-company p {
  color: #555;
  margin-bottom: 20px;
}

.searchBarContainer{
   display: flex;
   justify-content: center;
    margin-bottom: 20px
}

.searchBarContainer input{
    width: 100%;
	padding: 10px 15px;
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 16px;
	outline: none;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1)
}

.company-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.company-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.company-card:hover {
    /* z-index: 0; */
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.company-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.company-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.company-header h3 {
  font-size: 17px;
  color: #0077b6;
  margin: 0;
}

.company-info p {
  font-size: 14px;
  color: #444;
  margin: 6px 0;
}

.request-btn {
  background: #0077b6;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.request-btn:hover {
  background: #005f86;
}
